APIKEY="firebase-api-key"
AUTHDOMAIN="firebase-auth-domain"
PROJECTID="firebase-project-id"
STORAGEBUCKET="firebase-storage-bucket"
MESSAGINGSENDERID="firebase-messaging-sender-id"
APPID="firebase-app-id"
